<!DOCTYPE html>
<head>
  <title>Rojigan's Memes</title>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

  <!-- Popper JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link rel="icon" href="/static/favicon.png">
</head>
<body>
  <div class="container">
    <h1>Rojigan's Memes</h1>
    <ul class="list-group">
      {% for image in images %}
        <li class="list-group-item">
        <img src={{ image }} class="img-fluid" alt="Responsive image"/>
        </li>
      {% endfor %}
    </ul>
  </div>

</body>